body {
  margin: 0; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif; }

.container {
  display: flex;
  justify-content: center;
  align-items: center; }

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  width: 726px;
  padding: 110px 10px 0; }
  .calendar--start-day-mon .day:first-child {
    margin-left: 0; }
  .calendar--month-length-28 .day:nth-child(n + 28) ~ .day {
    display: none; }
  .calendar--month-length-29 .day:nth-child(n + 29) ~ .day {
    display: none; }
  .calendar--month-length-30 .day:nth-child(n + 30) ~ .day {
    display: none; }
  .calendar--month-length-31 .day:nth-child(n + 31) ~ .day {
    display: none; }
  .calendar--start-day-tue .day:first-child {
    margin-left: 102px; }
  .calendar--month-length-28 .day:nth-child(n + 28) ~ .day {
    display: none; }
  .calendar--month-length-29 .day:nth-child(n + 29) ~ .day {
    display: none; }
  .calendar--month-length-30 .day:nth-child(n + 30) ~ .day {
    display: none; }
  .calendar--month-length-31 .day:nth-child(n + 31) ~ .day {
    display: none; }
  .calendar--start-day-wed .day:first-child {
    margin-left: 204px; }
  .calendar--month-length-28 .day:nth-child(n + 28) ~ .day {
    display: none; }
  .calendar--month-length-29 .day:nth-child(n + 29) ~ .day {
    display: none; }
  .calendar--month-length-30 .day:nth-child(n + 30) ~ .day {
    display: none; }
  .calendar--month-length-31 .day:nth-child(n + 31) ~ .day {
    display: none; }
  .calendar--start-day-thu .day:first-child {
    margin-left: 306px; }
  .calendar--month-length-28 .day:nth-child(n + 28) ~ .day {
    display: none; }
  .calendar--month-length-29 .day:nth-child(n + 29) ~ .day {
    display: none; }
  .calendar--month-length-30 .day:nth-child(n + 30) ~ .day {
    display: none; }
  .calendar--month-length-31 .day:nth-child(n + 31) ~ .day {
    display: none; }
  .calendar--start-day-fri .day:first-child {
    margin-left: 408px; }
  .calendar--month-length-28 .day:nth-child(n + 28) ~ .day {
    display: none; }
  .calendar--month-length-29 .day:nth-child(n + 29) ~ .day {
    display: none; }
  .calendar--month-length-30 .day:nth-child(n + 30) ~ .day {
    display: none; }
  .calendar--month-length-31 .day:nth-child(n + 31) ~ .day {
    display: none; }
  .calendar--start-day-sat .day:first-child {
    margin-left: 510px; }
  .calendar--month-length-28 .day:nth-child(n + 28) ~ .day {
    display: none; }
  .calendar--month-length-29 .day:nth-child(n + 29) ~ .day {
    display: none; }
  .calendar--month-length-30 .day:nth-child(n + 30) ~ .day {
    display: none; }
  .calendar--month-length-31 .day:nth-child(n + 31) ~ .day {
    display: none; }
  .calendar--start-day-sun .day:first-child {
    margin-left: 612px; }
  .calendar--month-length-28 .day:nth-child(n + 28) ~ .day {
    display: none; }
  .calendar--month-length-29 .day:nth-child(n + 29) ~ .day {
    display: none; }
  .calendar--month-length-30 .day:nth-child(n + 30) ~ .day {
    display: none; }
  .calendar--month-length-31 .day:nth-child(n + 31) ~ .day {
    display: none; }

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  transition: transform 0.5s ease; }
  .day:nth-child(1)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "1";
    color: #000;
    font-size: 30px; }
  .day:nth-child(2)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "2";
    color: #000;
    font-size: 30px; }
  .day:nth-child(3)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "3";
    color: #000;
    font-size: 30px; }
  .day:nth-child(4)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "4";
    color: #000;
    font-size: 30px; }
  .day:nth-child(5)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "5";
    color: #000;
    font-size: 30px; }
  .day:nth-child(6)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "6";
    color: #000;
    font-size: 30px; }
  .day:nth-child(7)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "7";
    color: #000;
    font-size: 30px; }
  .day:nth-child(8)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "8";
    color: #000;
    font-size: 30px; }
  .day:nth-child(9)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "9";
    color: #000;
    font-size: 30px; }
  .day:nth-child(10)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "10";
    color: #000;
    font-size: 30px; }
  .day:nth-child(11)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "11";
    color: #000;
    font-size: 30px; }
  .day:nth-child(12)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "12";
    color: #000;
    font-size: 30px; }
  .day:nth-child(13)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "13";
    color: #000;
    font-size: 30px; }
  .day:nth-child(14)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "14";
    color: #000;
    font-size: 30px; }
  .day:nth-child(15)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "15";
    color: #000;
    font-size: 30px; }
  .day:nth-child(16)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "16";
    color: #000;
    font-size: 30px; }
  .day:nth-child(17)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "17";
    color: #000;
    font-size: 30px; }
  .day:nth-child(18)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "18";
    color: #000;
    font-size: 30px; }
  .day:nth-child(19)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "19";
    color: #000;
    font-size: 30px; }
  .day:nth-child(20)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "20";
    color: #000;
    font-size: 30px; }
  .day:nth-child(21)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "21";
    color: #000;
    font-size: 30px; }
  .day:nth-child(22)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "22";
    color: #000;
    font-size: 30px; }
  .day:nth-child(23)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "23";
    color: #000;
    font-size: 30px; }
  .day:nth-child(24)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "24";
    color: #000;
    font-size: 30px; }
  .day:nth-child(25)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "25";
    color: #000;
    font-size: 30px; }
  .day:nth-child(26)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "26";
    color: #000;
    font-size: 30px; }
  .day:nth-child(27)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "27";
    color: #000;
    font-size: 30px; }
  .day:nth-child(28)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "28";
    color: #000;
    font-size: 30px; }
  .day:nth-child(29)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "29";
    color: #000;
    font-size: 30px; }
  .day:nth-child(30)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "30";
    color: #000;
    font-size: 30px; }
  .day:nth-child(31)::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "31";
    color: #000;
    font-size: 30px; }
  .day:hover {
    cursor: pointer;
    background-color: #ffc0cb;
    transition: 0.5s;
    transform: translate(0, -20px); }


/*# sourceMappingURL=/main.48b3db1d.css.map */